<app-ciclo [capitalInicial] = "valorInicial" *ngIf="!deletarCiclo"  ></app-ciclo>
<button (click)="mudaValor()" > mudar valor</button>
<button (click)="obliterar()" > obliterar</button>


<app-output-property [valor] = "valorInicial"
(mudouValor) = "onMudouValor($event)"></app-output-property>

<app-imput-propert-pai></app-imput-propert-pai>

<app-two-way-data-baiden></app-two-way-data-baiden>

<app-event-biden></app-event-biden>
<app-class-biden></app-class-biden>
<app-data-biding></app-data-biding>
